@page "/punch1"
@using EmployRec.Shared
@inject IEmployeeService EmployeeService
@inject NavigationManager NavigationManager


<h3>@EmployeeService.Ps1[0].Name  打卡紀錄</h3>
<br />
<button type="button" class="btn btn-primary" @onclick="(() => PunchI(EmployeeService.Ps1.Count+1))">打卡上班</button>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>姓名</th>
            <th>員工編號</th>
            <th>日期</th>
            <th>上班</th>
            <th>下班</th>
            <th>工時</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ps1 in EmployeeService.Ps1)
        {
            <tr>
                <td>@ps1.Name</td>
                <td>@ps1.PunchId</td>
                <td>@ps1.Time</td>
                <td>@ps1.PunchIn</td>
                <td>@ps1.PunchOut</td>
                <td>@ps1.Hours</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => PunchO(ps1.Id))"><i class="oi oi-pencil">  打卡下班</i></button>
                </td>
            </tr>

        }
    </tbody>
</table>



@code {

    [Parameter]
    public int? Id { get; set; }

    Puns1 punc1 = new Puns1 { };

    protected override async Task OnInitializedAsync()
    {

        await EmployeeService.GetPunch1();
    }

    void PunchI(int id)
    {
        NavigationManager.NavigateTo($"punchIn/1/{id}");
    }
    void PunchO(int id)
    {
        NavigationManager.NavigateTo($"punchOut/1/{id}");
    }

}
